{% extends 'layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
<script src="/js/marked.js"></script>
{% endblock %}

{% block content %}
<section id="sn-auth">
    {% if mode == 'login' %}
    <article>
        <p>{{ __('Do you have an account? Log in here and start writing right now!') }}</p>
    </article>
    {% endif %}
    <form action="" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {% if _id %}
        <input type="hidden" name="_id" value="{{ _id }}">
        {% endif %}
        {% for field in form.fields %}
            {% if field %}
            <p class="sn-field">{{ field.widget.toHTML(field.name) | safe }}</p>
            {% endif %}
        {% endfor %}
        <p class="sn-field">
            <button class="sn-submit sn-{{ mode }}" type="submit">{{ submitText }}</button>
        </p>
    </form>
    {% if mode == 'login' %}
    <article>
        <p>{{ __("...Or if you don't but have things to write, you can contact us here:") }}</p>
        <p class="sn-contact">contact [at] snim.us</p>
    </article>
    {% endif %}
</section>
{% endblock %}
