{% extends 'layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
<script src="/js/marked.js"></script>
{% endblock %}

{% block content %}
<section id="sn-auth">
    <form action="" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {% if _id %}
        <input type="hidden" name="_id" value="{{ _id }}">
        {% endif %}
        {% for field in form.fields %}
            {% if field %}
            <p class="sn-field">{{ field.widget.toHTML(field.name) | safe }}</p>
            {% endif %}
        {% endfor %}
        <p class="sn-field">
            <button class="sn-submit sn-{{ mode }}" type="submit">{{ submitText }}</button>
        </p>
    </form>
</section>
{% endblock %}
