{% extends 'layout.html' %}

{% block head %}
<script src="/js/jquery.timeago.js"></script>
<script src="/js/locales/jquery.timeago.ko.js"></script>
<script>
    $(function() {
        $('time.timeago').timeago();
    });
</script>
{% endblock %}

{% block content %}
    <section class="sn-article">
        <header>
            <div class="sn-title">
                <h1>{{ post.title }}</h1>
            </div>
            <div class="sn-meta">
                <a href="/c/{{ post.category }}" class="sn-meta-box">
                    <span class="sn-text">{{ post.categoryName }}</span>
                </a>
                <p class="sn-meta-box">
                    <time class="timeago sn-text" datetime="{{ date.toISOString() }}">{{ date | date('Y/m/d H:i') }}</time>
                </p>
            </div>
        </header>
        <article>
            {{ post.article | safe }}
        </article>
    </section>
{% endblock %}
