{% extends 'layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
<script src="/js/marked.js"></script>
{% endblock %}

{% block content %}
<section class="sn-article">
    <form id="sn-writeform" action="" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <input type="hidden" name="_id" value="{{ _id }}">
        <div class="sn-form">
            {{ form | safe }}
            <script>
                autosize($('#id_title, #id_article'));
                $('#sn-writeform').garlic();
            </script>
            <div class="sn-form-field" style="text-align:center;">
                <button class="sn-submit" type="submit">{{ submitText }}</button>
            </div>
        </div>
    </form>
</section>
{% endblock %}
