@charset "UTF-8";

// text selection
::selection {
    background: #c13;
    color: #fff;
    text-shadow:none;
}

// IE10+ input clear buttons
// ::-ms-clear,
// ::-ms-reveal { display:none; }

// de body
body {
    background: #fff;
    color: #222;
    font: 16px "NanumGothic", "Malgun Gothic", sans-serif;
    letter-spacing: -.04em;
    line-height: 1.6;
}

input,
textarea {
    -webkit-appearance: none;
}

// basic anchor style
a {
    color: #c13;
    text-decoration: none;

    &:hover {
        color: #d24;
        text-decoration: underline;
    }

    &:visited {
        color: #999;

        &:hover {
            color: #ccc;
        }
    }
}

// left and right float
.sn-left {
    width: 0;
    float: left;
}

.sn-right {
    width: 0;
    float: right;
}

// snimicons layout
.sn-i {
    display: inline-block;
}

.sn-btn-i {
    display: inline-block;
    overflow: hidden;
    transition: color .2s;
}

// contact information
.sn-contact {
    color: #999;
    font-size: 14px;
    text-align: center;
}

// submit buttons
.sn-submit {
    background: #c13;
    color: #fff;
    &:hover {
        background: #b12;
    }
}

// meta boxes
.sn-meta-box {
    background: #c13;
    color: #fff;
    display: inline-block;
    line-height: 35px;
    text-decoration: none;

    &:hover,
    &:visited,
    &:visited:hover {
        color: #fff;
    }

    .sn-text {
        display: inline-block;
        padding:0 1em;
    }

    .sn-i {
        height: 35px;
        width: 35px;
        border-left: 1px solid #fff;
        font-size:10px;
        text-align: center;
        vertical-align: top;
    }
}
