@charset "UTF-8";
// responsive.scss: responsive design specific styles

.sn-fullwidth {
    width: 880px;
}

@media screen and (max-width: 880px) {
    .sn-fullwidth {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .sn-article #id_article {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }
}
