@charset "UTF-8";
::selection {
  background: #c13;
  color: #fff;
  text-shadow: none; }

body {
  background: #fff;
  color: #222;
  font: 16px "NanumGothic", "Malgun Gothic", sans-serif;
  letter-spacing: -.04em;
  line-height: 1.6; }

.sn-left {
  width: 0;
  float: left; }

.sn-right {
  width: 0;
  float: right; }

.sn-i {
  display: inline-block; }

.sn-btn-i {
  display: inline-block;
  overflow: hidden;
  transition: color .2s; }

.sn-contact {
  color: #999;
  font-size: 14px;
  text-align: center; }

.sn-submit {
  background: #c13;
  color: #fff; }
  .sn-submit:hover {
    background: #b12; }

.sn-drpdwn {
  position: relative; }
  .sn-drpdwn > .sn-container {
    text-align: left;
    position: absolute;
    z-index: 10; }
    .sn-drpdwn > .sn-container .sn-close {
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      position: fixed;
      z-index: -1; }
    .sn-drpdwn > .sn-container nav {
      background: #123;
      margin: 10px 0; }
    .sn-drpdwn > .sn-container header {
      margin-top: -5px;
      padding-top: 5px; }
    .sn-drpdwn > .sn-container footer {
      margin-bottom: -5px;
      padding-bottom: 5px; }
    .sn-drpdwn > .sn-container header,
    .sn-drpdwn > .sn-container footer {
      height: 10px;
      text-align: center;
      position: absolute; }
      .sn-drpdwn > .sn-container header span,
      .sn-drpdwn > .sn-container footer span {
        height: 20px;
        width: 20px;
        background: #123;
        display: inline-block;
        transform: rotateZ(45deg);
        -webkit-transform: rotateZ(45deg);
        /* iOS 8 backup */ }
    .sn-drpdwn > .sn-container ul {
      display: table;
      border-collapse: separate;
      border-spacing: 10px 0;
      margin: 0;
      padding: 0; }
    .sn-drpdwn > .sn-container li {
      height: 50px;
      min-width: 140px;
      display: table-row;
      line-height: 50px;
      list-style: none; }
      .sn-drpdwn > .sn-container li + li a {
        border-top: 1px solid #234; }
      .sn-drpdwn > .sn-container li a {
        color: #bbc;
        display: table-cell;
        padding: 0 15px;
        text-decoration: none;
        white-space: nowrap; }
        .sn-drpdwn > .sn-container li a:hover {
          color: #99a; }

#sn-head {
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background: #c13;
  box-shadow: none;
  line-height: 0;
  position: fixed;
  text-align: center;
  transition: background-color .2s, box-shadow .2s;
  z-index: 100; }
  #sn-head > .sn-container {
    height: inherit;
    margin: 0 auto; }
  #sn-head .sn-btn-i {
    height: inherit;
    color: #fff; }
  #sn-head.sn-header-w {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05); }
    #sn-head.sn-header-w .sn-btn-i {
      color: #222; }
  #sn-head .sn-btn-i.sn-menu .sn-i-menu {
    height: 30px;
    width: 30px;
    line-height: 30px;
    margin: 15px; }
  #sn-head .sn-drpdwn.sn-menu header {
    width: 60px; }
  #sn-head .sn-btn-i.sn-logo {
    padding: 0 10px; }
    #sn-head .sn-btn-i.sn-logo .sn-i-logo {
      height: 24px;
      font-size: 100px;
      margin: 18px auto; }
      #sn-head .sn-btn-i.sn-logo .sn-i-logo::before {
        margin: -38px 0; }

#sn-body {
  margin: 0 auto;
  padding-top: 60px; }

#sn-auth {
  box-sizing: border-box;
  max-width: 520px;
  margin: 40px auto;
  padding: 0 20px; }
  #sn-auth form {
    margin: 30px 0; }
  #sn-auth article {
    padding: 0 1em; }
  #sn-auth .sn-field {
    box-shadow: 0 5px 15px #f5f5f5;
    margin: 0; }
    #sn-auth .sn-field input,
    #sn-auth .sn-field button {
      width: 100%;
      border: 1px solid #eee;
      border-bottom-width: 0;
      box-sizing: border-box;
      outline: none;
      padding: 20px 1.5em; }
    #sn-auth .sn-field:first-of-type, #sn-auth .sn-field:first-of-type input, #sn-auth .sn-field:first-of-type button {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px; }
    #sn-auth .sn-field:last-of-type, #sn-auth .sn-field:last-of-type input, #sn-auth .sn-field:last-of-type button {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-bottom-width: 1px; }

.sn-article > header {
  text-align: center; }
  .sn-article > header h1 {
    font-family: '나눔바른고딕', sans-serif;
    font-size: 50px;
    font-weight: 100;
    margin: 0; }
  .sn-article > header .sn-meta {
    margin: 10px 0; }
    .sn-article > header .sn-meta p {
      margin: 0; }
    .sn-article > header .sn-meta input {
      width: 100%;
      border: 0;
      text-align: center; }

#sn-body .sn-article {
  padding-top: 80px; }
  #sn-body .sn-article p {
    margin: 1em; }

.sn-fullwidth {
  width: 880px; }

@media screen and (max-width: 880px) {
  .sn-fullwidth {
    width: 100%; } }
